 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Obssessed with innovation, positive psych and cultures. Check out some of my communication platforms and web projects. I'm trying to create the world's first sustainable, content-driven charity.</p>
                </div>
                <div class="col-lg-4">
                    <p>I'll occasionally run races, hike 14ers and dabble with machine learning</p>
                </div>
            </div>
        </div>
    </section>
